# Copy to .env and source it (do not commit secrets)
CLIENT_ID=
CLIENT_SECRET=
# SCOPE=
# TOKEN_URL=https://livelabs-dev.oracle.com/ords/dbpm/oauth/token
# API_URL=https://livelabs-dev.oracle.com/ords/dbpm/livelabs/stressTestEmbed
# THINK_TIME=1

# Proxy settings (required on VPN)
HTTP_PROXY=http://tw-proxy-sjc.oraclecorp.com:80
HTTPS_PROXY=http://tw-proxy-sjc.oraclecorp.com:80
